<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Org Chart</title>
    <link rel="stylesheet" href="{{ css_path }}">
    <script src="https://d3js.org/d3.v6.min.js"></script>
</head>
<body>
    <div id="tool-bar">
        <div id="logout-button" class="clickable">Log Out</div>
        <div id="change-password-button" class="clickable">Change Password</div>
        <div id="search-container">
            <input type="text" id="search-bar" placeholder="Search for a name" class="clickable">
            <button id="search-button" class="clickable">Search</button>
            <label>
                <input type="checkbox" id="toggle-inactive" class="clickable"> Show Inactive Reps
            </label>
        </div>
        <button id="refresh-button" class="clickable">Refresh Data</button>
    </div>
    <div id="loader-overlay">
        <div id="loader-overlay-items">
            <div id="loader-overlay-text">Please wait while the data refreshes</div>
            <div id="loading-indicator" class="loader"></div>
        </div>
    </div>
    <div id="chart"></div>
    <script src="{{ js_path }}"></script>
</body>
</html>
