<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Org Chart</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="https://d3js.org/d3.v6.min.js"></script>
</head>
<body>
    <div id="tool-bar">
        <input type="text" id="search-bar" placeholder="Search for a name" class="clickable">
        <button id="search-button" class="clickable">Search</button>
        <label>
            <input type="checkbox" id="toggle-inactive" class="clickable"> Show Inactive Reps
        </label>
        <button id="refresh-button" class="clickable">Refresh Data</button>
    </div>
    <div id="loading-indicator" style="display: none;">Loading...</div>
    <div id="chart"></div>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>
</html>
